.team__box__footer {
    height: 400px;
    background: #232323;
    color: #fff;
}

.footer__wrapper {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    color: #D1D1D1;
}

.block-box {
    width: 100%;
    height: 330px;
    border-bottom: 1px dashed #707070;
}

.block-box__promo {
    border-right: 1px dashed #707070;
    width: 600px;
    height: 300px;
    vertical-align: top;
    display:inline-block;
}

.promo__code {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 270px;
    background-image: url("../img/promo.png");
    background-position: 0px 0px;
    margin-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.promo__code:hover {
    background-position: 0px -269px;
}

.title-code {
    text-align: center;
    padding-top:30px;
    font-size: 15pt;
}

.code {
    color: #69ba76;
    text-decoration: underline;
    font-family: Circe-Regular, sans-serif;
    font-size: 25pt;
    padding-top: 125px;
    text-align: center;
}

.promo__text {
    width: 290px;
    height: 260px;
    display:inline-block;
    vertical-align: top;
    font-family: Circe-Regular, sans-serif;
    font-size: 15pt;
    padding-top: 20px;
    text-align: left;
}

.promo__text p  {
    padding-left: 20px;
}

.social-buttons {
    height: 50px;
}

.vk_btn {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 1px solid #69ba76;
    display: inline-block;
    vertical-align: top;
    background: #69ba76;
    margin-left: 20px;
    cursor: pointer;
    background-image: url("../img/btn-vk.png");
    background-repeat: no-repeat;
    background-position: center;
}

.fb_btn {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-left: 10px;
    border: 1px solid #69ba76;
    display: inline-block;
    vertical-align: top;
    background: #69ba76;
    cursor: pointer;
    background-image: url("../img/btn-fb.png");
    background-repeat: no-repeat;
    background-position: center;
}

.promo__text span {
    color: #68b975;
    padding-left:20px;
    font-family: Circe-Bold, sans-serif;
}

.block-box__contacts {
    vertical-align: top;
    display: inline-block;
}

.contacts__title {
    font-family: Circe-Regular,sans-serif;
    font-size: 16pt;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 5px;
}

.contacts__phone {
    font-family: Circe-Regular, sans-serif;
    font-size: 10pt;
    padding-left: 30px;
}

.phone-mail a{
    text-decoration: none;
    color: #D1D1D1;
}

.write__personal {
    height: 100px;
    width: 100%;
    margin-top: 20px;
}

.personal {
    height: 50px;
}
.personal-avatar {
    display: inline-block;
    margin-top: 7px;
    margin-left: 30px;
    width: 30px;
    height:30px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
}

.one-av {
    background-image: url("../img/person_one.png");
}

.two-av {
    background-image: url("../img/person_two.png");
}

.personal-link {
    display: inline-block;
    width: 150px;
    vertical-align: top;
    margin-left: 10px;
    padding-top: 15px;
}

.personal-link a {
    font-family: Circe-Regular, sans-serif;
    font-size: 11pt;
    color: #D1D1D1;
}

.groups {
    height: 50px;
    width: 100%;
}

.groups__vk {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 30px;
    margin-top: 15px;
    vertical-align: top;
    cursor: pointer;
    background-image: url("../img/icon-vk.png");
    background-position: -1px -1px;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.groups__vk:hover {
    background-position: -1px -24px;
}
.groups__fb {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 15px;
    vertical-align: top;
    cursor: pointer;
    background-image: url("../img/icon-fb.png");
    background-position: -2px -1px;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.groups__fb:hover {
    background-position: -2px -24px;
}

.groups__ok {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 15px;
    vertical-align: top;
    cursor: pointer;
    background-image: url("../img/icon-ok.png");
    background-position: -1px -1px;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.groups__ok:hover {
    background-position: -1px -24px;
}
.groups__inst {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 15px;
    vertical-align: top;
    cursor: pointer;
    background-image: url("../img/icon-ig.png");
    background-position: -1px -1px;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.groups__inst:hover {
    background-position: -1px -24px;
}

.groups__yell {
    display: inline-block;
    width: 100px;
    height: 20px;
    margin-top: 15px;
    font-size: 10px;
    vertical-align: top;
    background-color: #707070;
    cursor: pointer;
    border-radius: 3px;
}

.groups__yell:hover {
    background-color: #69ba76;
}

.groups__yell a {
    line-height: 20px;
    color: #222222;
    text-decoration: none;
}

.footer-nav {
    height:60px;
}

.nav-block {
    display: inline-block;
    margin-left: 25px;
    padding-top: 15px;
    font-family: Circe-Regular,sans-serif;
    font-size: 10pt;
}

.footer-nav__coolar {
    background-image: url("../img/cool__around.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 25px;
    width: 110px;
    cursor: pointer;
}


.nav-block a {
    text-decoration: none;
    color: #707070;
}

.nav-block a:hover {
    color: #69ba76;
}